@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.swiperContainer{
    width: 1530px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.about-accordion .ant-collapse-header-text{
    color: #6C758F;
}

.hover-line {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-line .line {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.7s ease-out;
}

.hover-line:hover .line {
    width: 100%;
}





.funnel {
    width: 300px;
    border: 2px solid #478ccf;
    border-radius: 5px;
    overflow: hidden;
}

.section {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #478ccf;
}

.section:last-child {
    border-bottom: none;
}

.abstract {
    background-color: #d9eaf2;
}

.introduction {
    background-color: #c9ddec;
    clip-path: polygon(10% 0, 90% 0, 85% 100%, 15% 100%);
}

.literature {
    background-color: #b8d0e6;
    clip-path: polygon(15% 0, 85% 0, 80% 100%, 20% 100%);
}

.methodology {
    background-color: #a7c3e0;
    clip-path: polygon(20% 0, 80% 0, 75% 100%, 25% 100%);
}

.result {
    background-color: #96b6da;
    clip-path: polygon(25% 0, 75% 0, 70% 100%, 30% 100%);
}

.discussion {
    background-color: #85a9d4;
    clip-path: polygon(30% 0, 70% 0, 65% 100%, 35% 100%);
}

.conclusion {
    background-color: #749ccd;
    clip-path: polygon(35% 0, 65% 0, 60% 100%, 40% 100%);
}

.acknowledgement {
    background-color: #638fc7;
    clip-path: polygon(40% 0, 60% 0, 55% 100%, 45% 100%);
}

.references {
    background-color: #5282c1;
    clip-path: polygon(45% 0, 55% 0, 50% 100%, 50% 100%);
}

#page404{
    height: calc(100vh - 117px);

}
