@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.swiperContainer{
    width: 1530px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.about-accordion .ant-collapse-header-text{
    color: #6C758F;
}

.hover-line {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-line .line {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.7s ease-out;
}

.hover-line:hover .line {
    width: 100%;
}




