@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.swiperContainer {
  width: 1530px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.about-accordion .ant-collapse-header-text {
  color: #6c758f;
}

.hover-line {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-line .line {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.7s ease-out;
}

.hover-line:hover .line {
  width: 100%;
}

.funnel {
  width: 300px;
  border: 2px solid #478ccf;
  border-radius: 5px;
  overflow: hidden;
}

.section {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #478ccf;
}

.section:last-child {
  border-bottom: none;
}

.abstract {
  background-color: #d9eaf2;
}

.introduction {
  background-color: #c9ddec;
  clip-path: polygon(10% 0, 90% 0, 85% 100%, 15% 100%);
}

.literature {
  background-color: #b8d0e6;
  clip-path: polygon(15% 0, 85% 0, 80% 100%, 20% 100%);
}

.methodology {
  background-color: #a7c3e0;
  clip-path: polygon(20% 0, 80% 0, 75% 100%, 25% 100%);
}

.result {
  background-color: #96b6da;
  clip-path: polygon(25% 0, 75% 0, 70% 100%, 30% 100%);
}

.discussion {
  background-color: #85a9d4;
  clip-path: polygon(30% 0, 70% 0, 65% 100%, 35% 100%);
}

.conclusion {
  background-color: #749ccd;
  clip-path: polygon(35% 0, 65% 0, 60% 100%, 40% 100%);
}

.acknowledgement {
  background-color: #638fc7;
  clip-path: polygon(40% 0, 60% 0, 55% 100%, 45% 100%);
}

.references {
  background-color: #5282c1;
  clip-path: polygon(45% 0, 55% 0, 50% 100%, 50% 100%);
}

#page404 {
  height: calc(100vh - 117px);
}
.auth-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.sign-in-form,
.sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

/*.input-field {*/
/*  max-width: 380px;*/
/*  width: 100%;*/
/*  background-color: #f0f0f0;*/
/*  margin: 10px 0;*/
/*  height: 55px;*/
/*  border-radius: 55px;*/
/*  display: grid;*/
/*  grid-template-columns: 15% 85%;*/
/*  padding: 0 0.4rem;*/
/*  position: relative;*/
/*}*/

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  padding: 0 15px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auth-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.auth-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.auth-left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.auth-right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.auth-panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.auth-panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.auth-panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.auth-right-panel .image,
.auth-right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.auth-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.auth-container.sign-up-mode .auth-left-panel .image,
.auth-container.sign-up-mode .auth-left-panel .content {
  transform: translateX(-800px);
}

.auth-container.sign-up-mode .signin-signup-container {
  left: 25%;
}

.auth-container.sign-up-mode .sign-up-form {
  opacity: 1;
  z-index: 2;
}

.auth-container.sign-up-mode .sign-in-form {
  opacity: 0;
  z-index: 1;
}

.auth-container.sign-up-mode .auth-right-panel .image,
.auth-container.sign-up-mode .auth-right-panel .content {
  transform: translateX(0%);
}

.auth-container.sign-up-mode .auth-left-panel {
  pointer-events: none;
}

.auth-container.sign-up-mode .auth-right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .auth-container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup-container {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup-container,
  .auth-container.sign-up-mode .signin-signup-container {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .auth-panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .auth-right-panel {
    grid-row: 3 / 4;
  }

  .auth-left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .auth-panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .auth-panel h3 {
    font-size: 1.2rem;
  }

  .auth-panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .auth-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .auth-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .auth-container.sign-up-mode .auth-left-panel .image,
  .auth-container.sign-up-mode .auth-left-panel .content {
    transform: translateY(-300px);
  }

  .auth-container.sign-up-mode .auth-right-panel .image,
  .auth-container.sign-up-mode .auth-right-panel .content {
    transform: translateY(0px);
  }

  .auth-right-panel .image,
  .auth-right-panel .content {
    transform: translateY(300px);
  }

  .auth-container.sign-up-mode .signin-signup-container {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .sign-in-form,
  .sign-up-form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .auth-panel .content {
    padding: 0.5rem 1rem;
  }

  .auth-container {
    padding: 1.5rem;
  }

  .auth-container:before {
    bottom: 72%;
    left: 50%;
  }

  .auth-container.sign-up-mode:before {
    bottom: 27%;
    left: 50%;
  }
}

.bg-gradient_2 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

html, body, #wrap {
  height: 100%;
  margin: 0;
}

body > #wrap {
  height: auto;
  min-height: 100%;
  position: relative;
}

#main {
  min-height: 100vh;
}

#footer {
  width: 100%;
  margin-top: 0px;
}

/* Scrollbar umumiy kengligi */
::-webkit-scrollbar {
  width: 12px; /* Kenglik */
}

/* Scrollbar track (orqa fon) */
::-webkit-scrollbar-track {
  background: white; /* Orqa fon rangi */
  border-radius: 1px; /* Burchaklarni yumshatish */
}

/* Scrollbar thumb (harakatlanadigan qisqich) */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Qisqichning rangi */
  border-radius: 5px; /* Burchaklarni yumshatish */
  border: 3px solid #f1f1f1; /* Qisqichning atrofiga chegara */
}

/* Scrollbar thumb hover effekti */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover paytida rang o'zgaradi */
}

